section {
  margin: 6rem 1rem;
}

h2 {
  text-align: center;
  color: #004530;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 18rem;
  align-self: center;
  clip-path: circle(39%);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: #004530;

}

p {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  section {
    margin: 6rem 2rem;
  }

  .container {
    flex-direction: row;
  }

  img {
    width: 25rem;
  }

  .text-wrapper {
    width: 50%;
  }
}

@media (min-width: 998px) {
  .text-wrapper {
    text-align: justify;
  }
}